DATABASE_URL="mysql://user:password@localhost:3306/ridebooking"
PORT=3000
NODE_ENV=development

# AWS Configuration
AWS_REGION=us-east-1

# Cognito Credentials (Backend)
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
COGNITO_CLIENT_SECRET=paste_your_secret_here
COGNITO_TOKEN_USE=xxxx

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
