DATABASE_URL="mysql://user:password@localhost:3306/ridebooking"
PORT=3000
NODE_ENV=development

# AWS Configuration
AWS_REGION=us-east-1

# Cognito Credentials (Backend)
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
COGNITO_CLIENT_SECRET=paste_your_secret_here
COGNITO_TOKEN_USE=xxxx

# Super Admin Seed (Cognito + DB)
# Used by: `npm run prisma:seed:superadmin`
# NOTE: You must seed RBAC roles first so the Role.name exists (e.g. SUPER_ADMIN)
SUPER_ADMIN_ROLE_NAME=SUPER_ADMIN
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=xxxxxxxxxxxxxxxxxxxx
SUPER_ADMIN_FULL_NAME=Super Admin
SUPER_ADMIN_PHONE_NUMBER=xxxxxxxxxxxxxxxxxxxx

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
